* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *behavior: url(http://fundforthegirls.com/boxsizing.htc); }

.ie7 .columns{
    margin-right: -5px ;
    margin-left: -5px ;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}
.ie7 .row{
    clear: both;
}
.ie7 .offset-by-three {
    margin-left:25% !important;
}
.ie7 .offset-by-seven {
    margin-left:58.33% !important ;
}

body{
	background: url("/static/images/gradient.jpg") repeat-x top left #fff;
	line-height: 20px;
}

a{
	color: #000;
}

.uppercase{
	text-transform: uppercase;
}

.centered{
	margin:0 auto;
	display: block;
	text-align: center;
}
a:hover{
	color:#e50606;
}

.height{
	line-height: 70px!important;
}

i{
	font-style:normal;
	line-height: 30px;
	vertical-align: center;
}

.mylist{
	margin: 0 auto;
	text-align: center;
	display: block;
	font-family: arial;
	font-weight: bold;
	margin-top: 20px;
}
.link1{
	margin-right: 20px;
	background-color: #e9e9e9;
	color: #1d1d1d;
	border: 1px solid #c3c3c3;	
	padding: 10px;
	margin-bottom: 30px;
}
.link2{
	margin-left:20px;
	background-color: #e9e9e9;
	color: #1d1d1d;
	border: 1px solid #c3c3c3;	
	padding: 10px;
	margin-bottom: 30px;

}
.link1:hover, .link2:hover{
	background-color: #d0d0d0;
	color:black;
}
.height{
	min-height: 350px;
}
.left{
	float: left;
	padding-right: 20px;
}
.lefted{
	float: left;
	margin-top: -15px;
	padding-right: 20px;
}

.has-tip{
	border: none;
}

.has-tip:hover, .has-tip:focus{
	font-family: arial, sans-serif;
	font-size: 14px;
}

/*UCF Header Styles */
#UCFHBHeader {height:36px!important;}    
#UCFHBHeader input[type=text] {height:20px !important; width:180px !important;}
#UCFHBHeader input[type=text] {margin-bottom: 20px!important \0/;}
#UCFHBHeader #UCFHBSearch_ucf input.text {width:150px !important;}
#UCFHBsubmit {position:relative;top:-40px;left:25px;margin-top: 8px;}
#UCFHBSearch_and_links{margin-left: 450px!important;}/*Home and Main Styles */

/*ANIMATED TO TOP SCROLL*/
.scrollup{
    width:64px;
    height:64px;
    opacity:0.5;
    position:fixed;
    bottom:30px;
    right:30px;
    display:none;
    background-repeat: no-repeat;
}

.centered{
	text-align: center;
	margin: 0 auto;
	display:block;
}
.header{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.front{
	padding: 0 0px;
	border-right: dotted 1px #848484;

}
.yellowspan{
	margin-top: 25px;
	text-align: center;
	background-color: rgb(255, 220, 111);
}
.list{
	list-style-type: none; 
}

.list ul{
	list-style-type: none;
	padding-left: 20px;
}

.facultylist{
	list-style-type: none;
}

li.facultylist{
	float:left;
}
div.faculty.three.columns.end{
	width: 25%;
}

.facultypics{
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0px 0px 5px #999;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:142px;
}

.yellowspan i{
	color: #000;
}

.yellowspan i:hover{
	color: #555;
}

[class*="foundicon-"] {
	font-size: 20px;
	padding-right: 7px;
	padding-left: 7px;
	line-height: 30px;
}

.footer{
	text-align: center;
	margin-top: 20px;
}

.nav-bar{
	text-align: center;
	margin: 0 auto;
	display: block;
	background-color: transparent;
	margin-bottom: 10px;
	height: 14px;
}

.navigation{
	display:inline;
	font-family: arial, sans-serif;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	font-weight: bold; 
}

.maintitles{
	font-family: arial, sans-serif;
	color: rgb(153,96,7);
	font-size: 20px;
	text-align: center;
	margin:0 auto;
	display: block
}

.maintitles2{
	font-family: arial, sans-serif;
	color: rgb(153,96,7);
	font-size: 20px;
}

.sideheader{
	font-family: arial, sans-serif;
	color: rgb(153,96,7);
	font-size: 12px;
	font-weight: bold;
}

.boldside{
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: bolder;
}

.divider{
	border-bottom: dotted 1px #848484;
	margin-bottom: 10px;
}

.sidebarlist{
	list-style-type: none;
	margin-left: 15px;
	margin-bottom: 0px;
}

.underline{
	text-decoration: underline;
}

.imagepluscaption{
	float:right;
	margin-bottom: 10px;
	margin-left: 20px;
	width:60%;
}

.whitelink{
	color:white;
	font-weight: normal;
}

.mainimage, .mainimagehovers{
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0px 0px 5px #999;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	border-radius: 10px;	
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	display: block;
	position: relative;
	behavior: url(/css/pie/PIE.php);		

}
/*B&W*/
.bw {
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;

}
 
.bw:hover {
	-webkit-filter	: grayscale(100%); 
	-moz-filter	: grayscale(100%);
	-ms-filter	: grayscale(100%);
	-o-filter 	: grayscale(100%);
	filter		: grayscale(100%);    

}
.italicize{
	font-style: italic;
}

.insidetitles{	
	color:rgb(132,61,61);
	font-weight: bold;
	font-family: arial, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
}
.fadecaption{	
	color:white;
	font-weight: bold;
	font-family: arial, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
}

.sidebar a{
	font-weight: normal;
}

.sidebar a:hover{
	text-decoration: underline;
}

.nobold{
	font-weight: normal;
}

.listed{
	padding-left: 0px;
}

.right{
	text-align: right;
}

.maincontent{
	padding-left: 2px;
}

.media{
	min-height: 300px;
}
/*TABLE FOR HOME PAGE*/

.eventlisting tbody tr:nth-child(even){
	background-color: #fff;
}

.imagehover:hover {
    background-image: url('images/briefcaseover.png');
}

table tbody tr:nth-child(even){
	background-color: #fff;
}
.heading th{
	text-align:center;
}

.upcoming-header{
	font-family: arial, sans-serif;
	color: rgb(153,96,7);
	margin-bottom: 0px;
	margin-top: 4px;
	font-size: 20px;
}

.eventlisting{
	border-color: #fff;
}


.vevent td{
	border-top: 1px solid #d7e6ee
	/*border-top: solid 1px rgb(255,230,172);*/
}

.dateheader{
	width: 30%;
	font-family: arial, sans-serif;
	padding-bottom: 2px;
}
.date{
	color:rgb(0, 0, 0);
	/*color:rgb(132,61,61);*/
}

.descriptionheader{
	width: 70%;
	font-family: arial, sans-serif;
	padding-bottom: 2px;
}
.eventlisting thead {
	background: #fff;
}

.more{	
	padding-left: 15px;
	color:rgb(132,61,61);
}
.seemore{	
	font-weight: normal;
	color:rgb(132,61,61);
	font-style: italic;
}
/* END TABLE CSS */

.myevents{
	margin-top: 10px;
}

.myevents thead{
	background-color: rgb(250,198,10);
}

.myevents thead tr th{
	text-align: center;
	font-family: arial, sans-serif;
	font-weight: bolder;
}

.myevents tbody tr.even, table tbody tr.alt{
	background-color:#ecf4f8
	/*background-color: rgb(255,255,184);*/
}

.tabs.pill dd.active a, .tabs.pill li.active a{
	background-color: #666;
}
.alternate thead{
	background-color: rgb(250,198,10);
}
.alternate thead tr th{
	text-align: center;
	font-family: arial, sans-serif;
	font-weight: bolder;
}

.alternate tbody tr:nth-child(odd)		{ background-color:rgb(255,255,184); }
.alternate tbody tr:nth-child(even)		{ background-color:rgb(255,255,184); }


@media only screen and (max-width: 1279px) and (min-width: 768px) { 
	#UCFHBHeader {height:36px!important;}    
	#UCFHBHeader input[type=text] {display:none !important;}
	#UCFHBHeader #UCFHBSearch_ucf input.text {display:none !important;}
	#UCFHBsubmit {display:none !important;}
	#UCFHBSearch_and_links{display:none !important;}/*Home and Main Styles */
	.facultypics{
		width: 50px;
	}
	.fadecaption{
		padding-right:10px;
		padding-left:10px;		
	}
}

/*FACULTY PAGES*/
.faculty{
	margin-bottom: 30px;
	float:left;
}

.nexttoiconfont{
	line-height: 45px;
	margin-top: 5px;
}

span.facultynames{
	text-align: center;
	margin: 0 auto;
	display:block;
	margin-bottom: 20px;
}

span.smallfacultynames{
	font-size: 11px;
	text-align: center;
	margin: 0 auto;
	display:block;
	margin-bottom: 20px;
}

.facultyicon{
	float:left;
	margin-right: 20px;
}

.reveal-modal.medium{
	margin-left: -40%;
	top: 10px;
}

.roundcontact{
	background-image: url(../images/roundedbox.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	text-align: right;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0px 0px 5px #999;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-right: 55px;	
	padding-right: 10px;
	border-color: rgb(132,61,61);
	margin-bottom: 20px;
	behavior: url(/css/pie/PIE.php);		

}
table.myevents{
	width: 100%;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 767px) {
	.header{
		<!--border-bottom: dotted 1px #848484;-->
		margin-bottom: 20px;
		padding-bottom: 10px;
		width: 100%;
	}

	.eventlisting{
		border-right: 0px;
	}
	.upcoming-header{
		margin-top: 30px;
	}

	#featured img{
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
	.mobilenav{
		color: #fff !important;
		font-family: arial, sans-serif;
		margin-left: 15px;
	}
	.mainlist{
		padding-left: 20px;
	}
	
	.maintitles2{
		font-size: 18px;
		font-weight: bold;
	}

	.maintitles2{
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		margin: 0 auto;
		display: block;
	}
	/*ANIMATED TO TOP SCROLL*/
	.scrollup{
	    bottom:20px;
	    right:20px;
	}
	table.myevents{
		width: 100%;
	}
	.myevents thead tr th{
		font-size: 10px;
	}
	table tbody tr td{
		padding: 2px;
	}
	.tabs dd a, .tabs li a{
		padding: 0 18px;
	}
	.faculty{
		margin-bottom: 30px;
	}
	.facultypics{
		margin-top: 10px;
	}	
	.imagepluscaption{
		margin-left: 10px;
		margin-bottom: 10px;
		width:100%;
	}
	.roundcontact{
		margin-right: 0px;	
		padding-right: 10px;

	}
	.mainimage{
		margin: 0 auto;
		display: block;
		text-align: center;
	}
}
