body{
	font-family: Bookman, Tahoma, Verdana,sans-serif;
	background: url("/static/images/gradient.jpg") repeat-x top left #fff;
	background-size: 300px 120px;
	line-height: 20px;
}

.header{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
@media (min-width: 768px) {
	.navbar-nav {
	  width: 100%;
	  text-align: center;
	}
	.navbar-nav > li {
	  float: none;
	  display: inline-block;
	}
	.navbar-nav > li.navbar-right {
	  float: right !important;
	}
}

p {
	margin-bottom: 20px;
	margin-top: 0;
}
.theme-description {
	line-height: 1.6;
}

.nav-pills>li.active>a {
	background-color: transparent;
	color: #1488db;
}
.nav-pills>li.active>a:hover {
	background-color: transparent;
	color: #1488db;
}
.nav-pills>li>a {
	color: #333;
}

/*********************** Demo - 16 *******************/
.box16{text-align:center;color:#fff;position:relative}
.box16 .box-content,.box16:after{width:100%;position:absolute;left:0}
.box16:after{content:"";height:100%;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);top:0;transition:all .5s ease 0s}
.box16 .post,.box16 .title{transform:translateY(145px);transition:all .4s cubic-bezier(.13,.62,.81,.91) 0s}
.box16:hover:after{background:linear-gradient(to bottom,rgba(0,0,0,.01) 0,rgba(0,0,0,.09) 11%,rgba(0,0,0,.12) 13%,rgba(0,0,0,.19) 20%,rgba(0,0,0,.29) 28%,rgba(0,0,0,.29) 29%,rgba(0,0,0,.42) 38%,rgba(0,0,0,.46) 43%,rgba(0,0,0,.53) 47%,rgba(0,0,0,.75) 69%,rgba(0,0,0,.87) 84%,rgba(0,0,0,.98) 99%,rgba(0,0,0,.94) 100%)}
.box16 img{width:100%;height:auto}
.box16 .box-content{padding:20px;margin-bottom:20px;bottom:0;z-index:1}
.box16 .title{font-size:22px;font-weight:700;text-transform:uppercase;margin:0 0 10px}
.box16 .post{display:block;padding:8px 0;font-size:15px}
.box16 .social li a,.box17 .icon li a{border-radius:50%;font-size:20px;color:#fff}
.box16:hover .post,.box16:hover .title{transform:translateY(0)}
.box16 .social{list-style:none;padding:0 0 5px;margin:40px 0 25px;opacity:0;position:relative;transform:perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);transition:all .6s cubic-bezier(0,0,.58,1) 0s}
.box16:hover .social{opacity:1;transform:perspective(500px) rotateX(0) rotateY(0) rotateZ(0)}
.box16 .social:before{content:"";width:50px;height:2px;background:#fff;margin:0 auto;position:absolute;top:-23px;left:0;right:0}
.box16 .social li{display:inline-block}
.box16 .social li a{display:block;width:40px;height:40px;line-height:40px;background:#6d3795;margin-right:10px;transition:all .3s ease 0s}
.box17 .icon li,.box17 .icon li a{display:inline-block}
.box16 .social li a:hover{background:#bea041}
.box16 .social li:last-child a{margin-right:0}
@media only screen and (max-width:990px){.box16{margin-bottom:30px}
}

.jumbotron {
	background: #358CCE;
	color: #FFF;
	border-radius: 0px;
}
.jumbotron-sm { 
	padding-top: 0px;
	padding-bottom: 8px; 
}
.jumbotron small {
color: #FFF;
}
