/* font-face */
@font-face {
  font-family: "GeneralEnclosedFoundicons";
  src: url("../fonts/general_enclosed_foundicons.eot");
  src: url("../fonts/general_enclosed_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_enclosed_foundicons.woff") format("woff"), url("../fonts/general_enclosed_foundicons.ttf") format("truetype"), url("../fonts/general_enclosed_foundicons.svg#GeneralEnclosedFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="foundiconenc-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="foundiconenc-"]:before {
  font-family: "GeneralEnclosedFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.foundiconenc-settings:before {
  content: "\f000";
}

.foundiconenc-heart:before {
  content: "\f001";
}

.foundiconenc-star:before {
  content: "\f002";
}

.foundiconenc-plus:before {
  content: "\f003";
}

.foundiconenc-minus:before {
  content: "\f004";
}

.foundiconenc-checkmark:before {
  content: "\f005";
}

.foundiconenc-remove:before {
  content: "\f006";
}

.foundiconenc-mail:before {
  content: "\f007";
}

.foundiconenc-calendar:before {
  content: "\f008";
}

.foundiconenc-page:before {
  content: "\f009";
}

.foundiconenc-tools:before {
  content: "\f00a";
}

.foundiconenc-globe:before {
  content: "\f00b";
}

.foundiconenc-home:before {
  content: "\f00c";
}

.foundiconenc-quote:before {
  content: "\f00d";
}

.foundiconenc-people:before {
  content: "\f00e";
}

.foundiconenc-monitor:before {
  content: "\f00f";
}

.foundiconenc-laptop:before {
  content: "\f010";
}

.foundiconenc-phone:before {
  content: "\f011";
}

.foundiconenc-cloud:before {
  content: "\f012";
}

.foundiconenc-error:before {
  content: "\f013";
}

.foundiconenc-right-arrow:before {
  content: "\f014";
}

.foundiconenc-left-arrow:before {
  content: "\f015";
}

.foundiconenc-up-arrow:before {
  content: "\f016";
}

.foundiconenc-down-arrow:before {
  content: "\f017";
}

.foundiconenc-trash:before {
  content: "\f018";
}

.foundiconenc-add-doc:before {
  content: "\f019";
}

.foundiconenc-edit:before {
  content: "\f01a";
}

.foundiconenc-lock:before {
  content: "\f01b";
}

.foundiconenc-unlock:before {
  content: "\f01c";
}

.foundiconenc-refresh:before {
  content: "\f01d";
}

.foundiconenc-paper-clip:before {
  content: "\f01e";
}

.foundiconenc-video:before {
  content: "\f01f";
}

.foundiconenc-photo:before {
  content: "\f020";
}

.foundiconenc-graph:before {
  content: "\f021";
}

.foundiconenc-idea:before {
  content: "\f022";
}

.foundiconenc-mic:before {
  content: "\f023";
}

.foundiconenc-cart:before {
  content: "\f024";
}

.foundiconenc-address-book:before {
  content: "\f025";
}

.foundiconenc-compass:before {
  content: "\f026";
}

.foundiconenc-flag:before {
  content: "\f027";
}

.foundiconenc-location:before {
  content: "\f028";
}

.foundiconenc-clock:before {
  content: "\f029";
}

.foundiconenc-folder:before {
  content: "\f02a";
}

.foundiconenc-inbox:before {
  content: "\f02b";
}

.foundiconenc-website:before {
  content: "\f02c";
}

.foundiconenc-smiley:before {
  content: "\f02d";
}

.foundiconenc-search:before {
  content: "\f02e";
}
