html, body{
	padding: 0;
	margin: 0;
}
html {
	background: url("/static/images/gradient.jpg") repeat-x top left #fff;;
}
a img {
	border: 0;
}

/* Generic Styles */
.uppercase {
	text-transform: uppercase;
}


/*Header style
#header{
	background-image: url("http://www.ucf.edu/img/header_border.png");
	background-repeat: repeat-x;
	background-position: bottom left;
	background-color: black;
	height: 32px;
	padding-top: 4px;
	padding-bottom: 2px;	/* to treat the bg as a border +2px
}
	#header label {
		color: #FFF;
		text-indent: -10000px;
		display:block;
		float:left;
	}
#header #search_and_links{
	padding-top: 5px;
	margin-left: 520px;
	width: 450px;
	text-align: right;
}
	
#header #search_and_links_end{
	clear: both;
}
	
#header h1{
	float:left;
	margin: 0;
	padding: 0;
}
#header h1 a{
	margin: 0;
	padding: 0;
	background-image: url("http://www.ucf.edu/imresources/sites/WWWUCFEDU/content/live/GLOBAL_PROPERTIES/0/GP1/en_US/ucflogo.png");
	background-repeat: no-repeat;
	background-position: top left;
	background-color: black;
	display: block;
	height: 29px;
	width: 318px;
}
#header h1 a span.text{
	display: none;
}
#header #uni_links{
	margin-left: 75px;
	float: left;
}
#header #uni_links select{
	width: 130px;
	border: 1px solid #c0c0c0;
}

#header #my_ucf{
	display: block;
	background-image: url("http://www.ucf.edu/img/myucf.png");
	background-repeat: no-repeat;
	background-position: top left;
	margin-left: 25px;
	margin-top: 3px;
	height: 15px;
	width: 58px;
	float: left;
}
#header #my_ucf span.text{
	display: none;
}

#header #search_ucf{
	font-family: Arial, sans-serif;
	color: #333;
}
#header #search_ucf input.text{
	border: 1px solid #c0c0c0;
	width: 100px;
	padding: 1px 10px;
}
#header #search_ucf input.submit{
	vertical-align: top;
	margin-top: 2px;
}
#header #search_ucf input.submit:hover{
	cursor: pointer;
}
#header form{
	display: inline;
	padding: 0; margin: 0;
}
#header form fieldset{
	padding: 0; margin: 0;
	border: none;
	display: inline;
}
#header p{
	padding: 0; margin: 0;
	border: none;
	display: inline;
}
#header div.wrapper{
	width: 974px;
	margin: 0 auto;
}


*/

/* Navigation Style Include */


/* Navigation Style */
.navigation_end {
	margin-bottom: -10px;
	clear: both
}
#navigation{
	
	margin: 25px auto 0 auto;
	position: relative;
	left: 10px;
	font-family: Georgia, serif;
	font-size: 95%;
	width: 802px;
	padding: 0;
	list-style-type: none;

}
#navigation li{
	float: left;
	margin: 0 0 0 11px;
	padding: 0 0 0 13px;
	background-image: url("http://www.ucf.edu/img/bullet.png");
	background-position: center left;
	background-repeat: no-repeat;
}
#navigation li.first{
	margin-left: 0;
	padding-left: 0;
	background-image: none;
}
#navigation #nav_apply_now{
	text-indent: -9999px;
	background-image: none;
}
#navigation #nav_apply_now a{
	cursor: pointer;
	display: block;
	overflow: hidden;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url('http://www.ucf.edu/img/apply_now.png');
	width: 93px;
	height: 24px;
	position: relative;
	left: -5px;
	top: -2px;
}

#navigation li a{
	color: #262626;
	text-decoration: none;
}
#navigation li a:hover{
	color: #959491;
}

/*Index*/
#index a {
	color: #000000;
	text-decoration:none;
}
	#index a:hover {
		color: #660000;
		text-decoration:none;
		border-bottom: #e50606;
	}
	
/* Main Body */
#main_body a {
	color: #660000;
	text-decoration:none;
	border-bottom: 1px solid #CCC;
}
	#main_body a:hover {
		color: #660000;
		text-decoration:none;
		border-bottom: #e50606;
	}

/* Footer */
#footer {
	clear: both;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 30px;
	letter-spacing: 1px;
}
#footer p {
	font-size: 0.63em;
	color: #4f4e4e;
	padding: 0;
	margin: 0 0 2px 0;
}
#footer p a, #footer p a:visited {
	color: #000;
}
#footer_navigation {
	font-size: 0.63em;
	margin-bottom: 7px;
}
#footer ul {
	list-style: none;
}
#footer ul li {
	display: inline;
	border-left: #000 1px solid;
	padding: 0 5px 0 8px;
}
#footer ul li.first {
	border: 0;
	padding-left: 0px;
}
#footer ul a, #footer ul a:visited {
	color: #3e3d3d;
	text-decoration: none;
}
#footer ul a:hover {
	text-decoration: underline;
}
#ucf_address {
	font-size: 0.63em;
	color: #4f4e4e;
	padding: 0;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
#footer a#ucf_logo {
	display: block;
	height: 43px;
	width: 256px;
	text-indent: -9000px;
	background:url(http://www.ucf.edu/img/ucf_stands_for_opportunity.png) no-repeat;
	margin: 25px auto;
}