/*Header style*/
#ucf4_header{
	background-image: url("http://www.ucf.edu/img/header_border.png");
	background-repeat: repeat-x;
	background-position: bottom left;
	background-color: black;
	height: 32px;
	padding-top: 4px;
	padding-bottom: 2px;	/* to treat the bg as a border +2px*/
}
#ucf4_header label {
		color: #FFF;
		text-indent: -10000px;
		display:block;
		float:left;
	}
#ucf4_header #ucf4_search_and_links{
	padding-top: 5px;
	margin-left: 520px;
	width: 450px;
	text-align: right;
}
	
#ucf4_header #ucf4_search_and_links_end{
	clear: both;
}
	
#ucf4_header h1{
	float:left;
	margin: 0;
	padding: 0;
}
#ucf4_header h1 a{
	margin: 0;
	padding: 0;
	background-image: url("http://www.ucf.edu/imresources/sites/WWWUCFEDU/content/live/GLOBAL_PROPERTIES/0/GP1/en_US/ucflogo.png");
	background-repeat: no-repeat;
	background-position: top left;
	background-color: black;
	display: block;
	height: 29px;
	width: 318px;
}
#ucf4_header h1 a span.text{
	display: none;
}
#ucf4_header #ucf4_uni_links{
	margin-left: 75px;
	float: left;
}
#ucf4_header #ucf4_uni_links select{
	width: 130px;
	border: 1px solid #c0c0c0;
}

#ucf4_header #ucf4_my_ucf{
	display: block;
	background-image: url("http://www.ucf.edu/img/myucf.png");
	background-repeat: no-repeat;
	background-position: top left;
	margin-left: 25px;
	margin-top: 3px;
	height: 15px;
	width: 58px;
	float: left;
}
#ucf4_header #ucf4_my_ucf span.text{
	display: none;
}

#ucf4_header #ucf4_search_ucf{
	font-family: Arial, sans-serif;
	color: #333;
}
#ucf4_header #ucf4_search_ucf input.text{
	border: 1px solid #c0c0c0;
	width: 100px;
	padding: 1px 10px;
}
#ucf4_header #ucf4_search_ucf input.submit{
	vertical-align: top;
	margin-top: 2px;
}
#ucf4_header #ucf4_search_ucf input.submit:hover{
	cursor: pointer;
}
#ucf4_header form{
	display: inline;
	padding: 0; margin: 0;
}
#ucf4_header form fieldset{
	padding: 0; margin: 0;
	border: none;
	display: inline;
}
#ucf4_header p{
	padding: 0; margin: 0;
	border: none;
	display: inline;
}
#ucf4_header div.wrapper{
	width: 974px;
	margin: 0 auto;
}
