/* Mobile Stylesheet for Main and Secondary Pages */
* {
	margin: 0;
	padding: 0;
}

body	{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 2em;
	font-size: 1em;
	width: 100%;
}

/* Hidden Elements */

#secondary_navigation, #sub_header_content, .sIFR-replaced object, #sub_header_image, #weather, #secondary_content, #centerpiece, #colleges, #header #my_ucf {
	display: none;
}

/*Header*/
#header { background-image: url('http://www.ucf.edu/img/header_border.png'); background-repeat: repeat-x; background-position: left bottom; background-color: black; height: 32px; padding-top: 4px; padding-bottom: 2px; }

#header div.wrapper{
	width: 318px;
}

#header h1 a { margin: 0pt; padding: 0pt; background-image: url('http://www.ucf.edu/imresources/sites/WWWUCFEDU/content/live/GLOBAL_PROPERTIES/0/GP1/en_US/ucflogo.png'); background-repeat: no-repeat; background-position: left top; background-color: black; display: block; height: 29px; width: 318px; }

#search_and_links	{
	display: inline;
	float: right;
}

#search_ucf	{
	visibility: visible;
	float: right;
}

#uni_links	{
	float: left;
}

#search_ucf	{
	float: right;
}

/*Navigation*/

#navigation li	{
	clear: both;
}

/* Main Content */

#sub_header	{
	background: none;
}

.spotlight, #events, #news	{
	float: none;
}

#sub_header h2	{
	font-size: 200%;
}

#main_content h3, #main_content2 h3	{
	font-size: 150%;
}

p	{
	margin-bottom: 10px;
}