<div class="clear"></div>
<div style="font-size: 10px;" id="footer">
	<hr width="100%">	
	<br>
	<a href="http://www.hcmut.edu.vn/vi" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQDKL0xkskIgAPXh_kgTmqsZt55g5yxVQqEOP_lZXo7pL_iUZEzg" width="25px"></a>
	<a href="http://www.hcmut.edu.vn/vi" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-twitter-512.png" width="25px"></a>
	<a href="http://www.hcmut.edu.vn/vi" target="_blank"><img src="https://www.shareicon.net/data/512x512/2015/10/04/112097_linkedin_512x512.png" width="25px"></a>
	<a href="https://github.com/dolongbien/HumanBehaviorBKU" target="_blank"><img src="http://www.reesepeltier.net/images/git_logo.png" width="25px"></a>
    <br><br>© Copyright 2019
    <br><a href="http://www.hcmut.edu.vn/vi">Trường Đại học Bách Khoa Tp.HCM</a>
    <br>268 Lý Thường Kiệt, Phường 14, Quận 10, thành phố Hồ Chí Minh
    <br>Phone: (02) 838 654 087 | Fax: (02) 838 637 002
    <br><br><img src="/static/png/ftr_logo_bk.png" alt="UCF Stands for Opportunity" width="15%">


</div>
<div id="content_end">&nbsp;</div>