<div id="ucfhb" class=" preload" role="complementary" aria-label="University of Central Florida navbar">
	<div id="ucfhb-inner" style="display: none;">
		<div id="ucfhb-left">
			<div id="ucfhb-logo">
				<div id="logo-bk">
					<img class="img" src="/static/images/cse.png" alt="Bk" width="280" height="40" style="margin: 5px;vertical-align:middle"/> 
				</div>
			</div>
			<button id="ucfhb-mobile-toggle">Toggle Mobile Menu</button>
		</div>
		<div id="ucfhb-right">
			<div id="ucfhb-signon">
				<button id="ucfhb-signon-logo">UCF Sign In</button>
				<div id="ucfhb-services">
					<div>
						<a id="ucfhb-myucf" class="ucfhb-service" href="https://my.ucf.edu/psp/IHPROD/EMPLOYEE/EMPL/?cmd=login">myUCF</a>
						<a id="ucfhb-knightsmail" class="ucfhb-service" href="http://knightsemail.ucf.edu/">KnightsMail</a>
						<a id="ucfhb-webcourses" class="ucfhb-service" href="https://webcourses.ucf.edu/">Webcourses</a>
					</div>
				</div>
			</div>
		</div>
		<ul id="ucfhb-search-autocomplete" aria-hidden="true" aria-label="Search Results" role="listbox"></ul>
	</div>
</div>

{% load static %}

<div class="row hide-for-small">
  <div class="header twelve columns">
    <a href="http://www.hcmut.edu.vn/vi"><img src="{% static 'images/topbar_logo.png' %}" alt="Center for Research in Comptuer Vision" vspace="15px" style="margin-bottom: 10px;margin-top: -3px"></a><br>
  </div>
</div>