<!-- <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Traffic Abnormal Detect</a>
    </div>
    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        <li{% if '/videos/' in request.path %} class="active"{% endif %}>
        <a href="{% url 'catalog:videos' %}">Videos</a>
        </li>
        <li><a href="www.hcmut.edu.vn">hcmut.edu.vn</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<div id="ucfhb" class=" preload" role="complementary" aria-label="University of Central Florida navbar">
	<div id="ucfhb-inner" style="display: none;">
		<div id="ucfhb-left">
			<div id="ucfhb-logo">
				<div id="logo-bk">
					<img class="img" src="/static/images/gvl.png" alt="Bk" width="280" height="40" style="margin: 5px;vertical-align:middle"/> 
				</div>
			</div>
			<button id="ucfhb-mobile-toggle">Toggle Mobile Menu</button>
		</div>
		<div id="ucfhb-right">
			<div id="ucfhb-signon">
				<button id="ucfhb-signon-logo">UCF Sign In</button>
				<div id="ucfhb-services">
					<div>
						<a id="ucfhb-myucf" class="ucfhb-service" href="https://my.ucf.edu/psp/IHPROD/EMPLOYEE/EMPL/?cmd=login">myUCF</a>
						<a id="ucfhb-knightsmail" class="ucfhb-service" href="http://knightsemail.ucf.edu/">KnightsMail</a>
						<a id="ucfhb-webcourses" class="ucfhb-service" href="https://webcourses.ucf.edu/">Webcourses</a>
					</div>
				</div>
			</div>
		</div>
		<ul id="ucfhb-search-autocomplete" aria-hidden="true" aria-label="Search Results" role="listbox"></ul>
	</div>
</div>	 


<nav class="top-bar show-for-small">

  <ul>

    <!-- Title Area -->

    <li class="name">

      <h1>

        <a href="#" style="color:white">

          MENU

		</a>

      </h1>

    </li>

    <li class="toggle-topbar"><a href="#"></a></li>

  </ul>



  

<section>

    <!-- Left Nav Section -->

    <ul class="left">

      <li class="divider"></li>

      <li><a class="navigation" href="https://www.crcv.ucf.edu/index.php" style="color:white">HOME</a></li>
                            
      <li class="divider"></li>

      <li><a class="navigation" href="https://www.crcv.ucf.edu/about.php" style="color:white">ABOUT</a></li>



      <li class="divider"></li>

      <li class="has-dropdown">

        <a class="navigation" href="https://www.crcv.ucf.edu/projects/real-world/#" style="color:white">NEWS &amp; INFO</a>

        <ul class="dropdown"><li class="title back js-generated"><h5><a href="https://www.crcv.ucf.edu/projects/real-world/#">NEWS &amp; INFO</a></h5></li>

          <li><a href="https://www.crcv.ucf.edu/news&amp;info/news.php" style="color:white">News</a></li>

          <li><a href="https://www.crcv.ucf.edu/news&amp;info/seminars.php" style="color:white">Past Seminars</a></li>

          <li><a href="https://www.crcv.ucf.edu/videos/Seminar_Videos/" style="color:white">Seminar Videos</a></li>

        <li class="has-dropdown">

            <a href="https://www.crcv.ucf.edu/projects/real-world/#" class="" style="color:white">Newsletters</a>

            <ul class="dropdown"><li class="title back js-generated"><h5><a href="https://www.crcv.ucf.edu/projects/real-world/#">Newsletters</a></h5></li>

              <li><a href="https://www.crcv.ucf.edu/news&amp;info/newsletters/1011.php" style="color:white">2010-2011</a></li>

              <li><a href="https://www.crcv.ucf.edu/news&amp;info/newsletters/0809.php" style="color:white">2008-2009</a></li>

              <li><a href="https://www.crcv.ucf.edu/academics/foundationexam.php" style="color:white">2007</a></li>

              <li><a href="https://www.crcv.ucf.edu/news&amp;info/newsletters/2006.php" style="color:white">2006</a></li>

              <li><a href="https://www.crcv.ucf.edu/news&amp;info/newsletters/2005.php" style="color:white">2005</a></li>

              <li><a href="https://www.crcv.ucf.edu/news&amp;info/newsletters/GAUSS.php" style="color:white">GAUSS</a></li>
              
              <li><a href="https://www.crcv.ucf.edu/news&amp;info/newsletters/REU.php" style="color:white">REU</a></li>

              <li><a href="https://www.crcv.ucf.edu/news&amp;info/newsletters/FOCUS.php" style="color:white">FOCUS</a></li>              

            </ul>

          </li>

		</ul>

      </li>

     

  



      <li class="divider"></li>

      <li class="has-dropdown">

        <a class="navigation" href="https://www.crcv.ucf.edu/projects/real-world/#" style="color:white">PUBLICATIONS</a>

            <ul class="dropdown"><li class="title back js-generated"><h5><a href="https://www.crcv.ucf.edu/projects/real-world/#">PUBLICATIONS</a></h5></li>
            	           	
            	<li><a href="https://www.crcv.ucf.edu/papers/index.php" style="color:white">All Publications</a></li>     
            	
            	<li><a href="https://www.crcv.ucf.edu/papers/arxiv" style="color:white">arXiv</a></li>            	

            	<li><a href="https://www.crcv.ucf.edu/papers/books" style="color:white">Books</a></li>            	            	

            	<li><a href="https://www.crcv.ucf.edu/papers/book_chapters" style="color:white">Book Chapters</a></li>

            	<li><a href="https://www.crcv.ucf.edu/papers/book_series" style="color:white">Book Series</a></li>

	            <li><a href="https://www.crcv.ucf.edu/papers/conference_papers" style="color:white">Conference Papers</a></li>

            	<li><a href="https://www.crcv.ucf.edu/papers/journal_papers" style="color:white">Journal Papers</a></li>
            	         	
            	<li><a href="https://www.crcv.ucf.edu/papers/technical_reports" style="color:white">Technical Reports</a></li>
            
            	<li><a href="https://www.crcv.ucf.edu/papers/theses.php" style="color:white">Theses</a></li>            	
            	
			</ul>
			
		</li>         





      <li class="divider"></li>

      <li class="has-dropdown">

        <a class="navigation" href="https://www.crcv.ucf.edu/projects/real-world/#" style="color:white">RESEARCH</a>

        <ul class="dropdown"><li class="title back js-generated"><h5><a href="https://www.crcv.ucf.edu/projects/real-world/#">RESEARCH</a></h5></li>

			<li class="has-dropdown">

            	<a href="https://www.crcv.ucf.edu/projects/real-world/#" class="" style="color:white">Projects</a>
            	
            	<ul class="dropdown"><li class="title back js-generated"><h5><a href="https://www.crcv.ucf.edu/projects/real-world/#">Projects</a></h5></li>
            	
            		<li><a href="https://www.crcv.ucf.edu/projects/human_action.php" style="color:white">Human Action and Activity Recognition</a></li>
	
					<li><a href="https://www.crcv.ucf.edu/projects/tracking" style="color:white">Tracking</a> </li>
		
					<li><a href="https://www.crcv.ucf.edu/projects/video_segmentation" style="color:white">Video Segmentation</a> </li>
	
					<li><a href="https://www.crcv.ucf.edu/projects/crowd" style="color:white">Crowd Analysis</a> </li>

					<li><a href="https://www.crcv.ucf.edu/projects/motion" style="color:white">Motion Patterns</a> </li>

					<li><a href="https://www.crcv.ucf.edu/projects/uav" style="color:white">UAV Video Analysis</a></li>

					<li><a href="https://www.crcv.ucf.edu/projects/high_level" style="color:white">High Level Computer Vision</a></li>

					<li><a href="https://www.crcv.ucf.edu/projects/object_scene" style="color:white">Object Detection and Scene Segmentation</a> </li>

					<li><a href="https://www.crcv.ucf.edu/projects/multi_view" style="color:white">Exploiting Multiple View Data for Tracking, Reconstruction &amp; Recognition</a></li>

					<li><a href="https://www.crcv.ucf.edu/projects/bio" style="color:white">Biomedical Image Analysis</a> </li>

					<li><a href="https://www.crcv.ucf.edu/projects/registration" style="color:white">Geospatial Localization/Registration</a> </li>

					<li><a href="https://www.crcv.ucf.edu/projects/video_crt" style="color:white">Video Categorization, Retrieval and Temporal Segmentation</a></li>

					<li><a href="https://www.crcv.ucf.edu/projects/event" style="color:white">Multimedia Event Detection</a></li>
	
					<li><a href="https://www.crcv.ucf.edu/projects/shading" style="color:white">Shape from Shading</a></li>

					<li><a href="https://www.crcv.ucf.edu/projects/morphing" style="color:white">View Morphing</a></li>

					<li><a href="https://www.crcv.ucf.edu/projects/facial_analysis" style="color:white">Facial Analysis</a></li>

					<li><a href="https://www.crcv.ucf.edu/projects/aesthetics.php" style="color:white">Computational Visual Aesthetics</a></li>

					<li><a href="https://www.crcv.ucf.edu/projects/systems" style="color:white">Computer Vision Systems</a></li>        

					<li><a href="https://www.crcv.ucf.edu/projects/misc" style="color:white">Miscellaneous</a></li>
            	
            	</ul>
          
          </li> 	
          
          <li><a href="https://www.crcv.ucf.edu/presentations/index.php" style="color:white">Presentations</a></li>
          
        <li class="has-dropdown">

            <a href="https://www.crcv.ucf.edu/projects/real-world/#" class="" style="color:white">Source Code</a>

            <ul class="dropdown"><li class="title back js-generated" style=""><h5><a href="https://www.crcv.ucf.edu/projects/real-world/#">Source Code</a></h5></li>

        		<li><a href="https://www.crcv.ucf.edu/source/MotionSegmentation" style="color:white">Motion Segmentation</a></li>
	
	        	<li><a href="https://www.crcv.ucf.edu/source/time_series_prediction" style="color:white">Time Series Prediction</a></li>
	
	            <li><a href="https://www.crcv.ucf.edu/source/background_modeling" style="color:white">Background Modeling</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/shape_from_shading" style="color:white">Shape from Shading</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/fundamental_matrix" style="color:white">Fundamental Matrix</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/mean-shift" style="color:white">Mean-Shift Algorithms</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/kernel_density" style="color:white">Kernel Density Estimation</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/K-Means" style="color:white">K-Means Algorithms for Data Clustering</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/normalized" style="color:white">Normalized Cuts</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/dimension" style="color:white">Dimension Reduction</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/facial" style="color:white">Facial Analysis</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/optical" style="color:white">Optical Flow</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/image_reg" style="color:white">Image Registration</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/color_space" style="color:white">Color Space Transformations</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/image_acq" style="color:white">Image Acquisition</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/misc" style="color:white">Miscellaneous</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/3D" style="color:white">3D SIFT</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/SPREF" style="color:white">SPREF</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/FRAISE" style="color:white">FRAISE</a></li>

	            <li><a href="https://www.crcv.ucf.edu/source/video_object_segmentation" style="color:white">Video Object Segmentation</a></li>            

	            <li><a href="https://www.crcv.ucf.edu/source/links" style="color:white">Useful Links</a></li>

		  </ul>

		</li>
	          
        <li class="has-dropdown">

            <a href="https://www.crcv.ucf.edu/projects/real-world/#" class="" style="color:white">Data Sets</a>

            <ul class="dropdown"><li class="title back js-generated"><h5><a href="https://www.crcv.ucf.edu/projects/real-world/#">Data Sets</a></h5></li>
          
          <li class="has-dropdown">

            <a href="https://www.crcv.ucf.edu/projects/real-world/#" class="" style="color:white">Human Actions</a>

            <ul class="dropdown"><li class="title back js-generated"><h5><a href="https://www.crcv.ucf.edu/projects/real-world/#">Human Actions</a></h5></li>

	            <li><a href="https://www.crcv.ucf.edu/data/UCF101.php" style="color:white">UCF101</a></li>

	            <li><a href="https://www.crcv.ucf.edu/data/UCF50.php" style="color:white">UCF50</a></li>

				<li><a href="https://www.crcv.ucf.edu/data/UCF_YouTube_Action.php" style="color:white">UCF11 (YouTube Action)</a></li>

	            <li><a href="https://www.crcv.ucf.edu/data/UCF_Sports_Action.php" style="color:white">UCF Sports Action</a></li>           

				<li><a href="https://www.crcv.ucf.edu/data/UCF_Aerial_Action.php" style="color:white">UCF Aerial Action</a></li>

	            <li><a href="https://www.crcv.ucf.edu/data/UCF-ARG.php" style="color:white">UCF-ARG</a></li>

	            <li><a href="https://www.crcv.ucf.edu/data/UCF-iPhone.php" style="color:white">UCF-iPhone</a></li>
	            
	        </ul>

	      </li>

	            <li><a href="https://www.crcv.ucf.edu/data/crowd.php" style="color:white">Crowd Segmentation</a></li>

	            <li><a href="https://www.crcv.ucf.edu/data/crowd_counting.php" style="color:white">Crowd Counting</a></li>

	            <li><a href="https://www.crcv.ucf.edu/data/CLIF.php" style="color:white">CLIF Data Set Ground Truth</a></li>             

	            <li><a href="https://www.crcv.ucf.edu/data/tracking.php" style="color:white">Tracking in High Density Crowds</a></li>

	            <li><a href="https://www.crcv.ucf.edu/data/ParkingLOT" style="color:white">PNNL Parking Lot</a></li>

	            <li><a href="https://www.crcv.ucf.edu/data/fire.php" style="color:white">Fire Detection in Video Sequences</a></li> 

	            <li><a href="https://www.crcv.ucf.edu/data/VIRAT.php" style="color:white">VIRAT</a></li>

	            <li><a href="https://www.crcv.ucf.edu/data/mocap.php" style="color:white">Motion Capture</a></li>

	            <li><a href="https://www.crcv.ucf.edu/data/ALOV++" style="color:white">ALOV++</a></li>

	            <li><a href="https://www.crcv.ucf.edu/data/GMCP_Geolocalization" style="color:white">Google Street View</a></li>    
	            
			</ul>
			
		</li>      
          
          <li><a href="https://www.crcv.ucf.edu/sponsors.php" style="color:white">Industry Sponsors</a></li>
          
        </ul>

      </li>




      <li class="divider"></li>

      <li class="has-dropdown">

        <a class="navigation" href="https://www.crcv.ucf.edu/projects/real-world/#" style="color:white">REU</a>

        <ul class="dropdown"><li class="title back js-generated"><h5><a href="https://www.crcv.ucf.edu/projects/real-world/#">REU</a></h5></li>

			<li><a href="https://www.crcv.ucf.edu/REU" style="color:white">About</a></li>

            <li><a href="https://www.crcv.ucf.edu/REU/grants.php" style="color:white">List of Grants</a></li>

          <li class="has-dropdown">

            <a href="https://www.crcv.ucf.edu/projects/real-world/#" class="" style="color:white">Participants &amp; Projects</a>

            <ul class="dropdown"><li class="title back js-generated"><h5><a href="https://www.crcv.ucf.edu/projects/real-world/#">Participants &amp; Projects</a></h5></li>

	            <li><a href="https://www.crcv.ucf.edu/REU/2010s.php" style="color:white">2010s</a></li>

	            <li><a href="https://www.crcv.ucf.edu/REU/2000s.php" style="color:white">2000s</a></li>

	            <li><a href="https://www.crcv.ucf.edu/REU/1990s.php" style="color:white">1990s</a></li>

	            <li><a href="https://www.crcv.ucf.edu/REU/1980s.php" style="color:white">1980s</a></li>	

			</ul>

		</li>

            <li><a href="https://www.crcv.ucf.edu/REU/model.php" style="color:white">REU Model</a></li>

            <li><a href="https://www.crcv.ucf.edu/REU/reu20celeb.php" style="color:white">Twenty Year Celebration</a></li>

			<li><a href="https://www.crcv.ucf.edu/REU/papers.php" style="color:white">Publications</a></li>

			<li><a href="https://www.crcv.ucf.edu/REU/honor.php" style="color:white">Honors in the Major Theses</a></li>

        </ul>

      </li>



      <li class="divider"></li>

      <li class="has-dropdown">

        <a class="navigation" href="https://www.crcv.ucf.edu/projects/real-world/#" style="color:white">COURSES</a>

        <ul class="dropdown"><li class="title back js-generated"><h5><a href="https://www.crcv.ucf.edu/projects/real-world/#">COURSES</a></h5></li>

            <li><a href="https://www.crcv.ucf.edu/courses/CAP4453" style="color:white">CAP 4453<br>Robot Vision</a></li>

            <li><a href="https://www.crcv.ucf.edu/courses/CAP5415" style="color:white">CAP 5415<br>Computer Vision</a></li>

            <li><a href="https://www.crcv.ucf.edu/courses/CAP6411" style="color:white">CAP 6411<br>Computer Vision Systems</a></li>

            <li><a href="https://www.crcv.ucf.edu/courses/CAP6412" style="color:white">CAP 6412<br>Advanced Computer Vision</a></li>

            <li><a href="https://www.crcv.ucf.edu/courses/COT6505" style="color:white">COT 6505<br>Computational Methods</a></li>

            <li><a href="https://www.crcv.ucf.edu/courses/tutorials" style="color:white">Tutorials</a></li>
                      
          <li class="has-dropdown">

            <a href="https://www.crcv.ucf.edu/projects/real-world/#" class="" style="color:white">Video Lectures</a>

            <ul class="dropdown"><li class="title back js-generated"><h5><a href="https://www.crcv.ucf.edu/projects/real-world/#">Video Lectures</a></h5></li>

            <li><a href="https://www.crcv.ucf.edu/videos/lectures/2014.php" style="color:white">2014</a></li>

            <li><a href="https://www.crcv.ucf.edu/videos/lectures/2012.php" style="color:white">2012</a></li>
            
			</ul>

		</li>
            
        </ul>

      </li>



      <li class="divider"></li>

      <li class="has-dropdown">

        <a class="navigation" href="https://www.crcv.ucf.edu/projects/real-world/#" style="color:white">PEOPLE</a>

        <ul class="dropdown"><li class="title back js-generated"><h5><a href="https://www.crcv.ucf.edu/projects/real-world/#">PEOPLE</a></h5></li>

            <li><a href="https://www.crcv.ucf.edu/people/faculty.php" style="color:white">Faculty</a></li>

            <li><a href="https://www.crcv.ucf.edu/people/guest_prof.php" style="color:white">Distinguished Guest Professors</a></li>

            <li><a href="https://www.crcv.ucf.edu/people/associated_faculty.php" style="color:white">Associated Faculty</a></li>

			<li><a href="https://www.crcv.ucf.edu/people/research_assoc.php" style="color:white">Research Associates</a></li>

            <li><a href="https://www.crcv.ucf.edu/people/technical_staff.php" style="color:white">Technical Staff</a></li>

            <li><a href="https://www.crcv.ucf.edu/people/office_staff.php" style="color:white">Office Staff</a></li>

            <li><a href="https://www.crcv.ucf.edu/people/phd_students.php" style="color:white">Ph.D. Students</a></li>

            <li><a href="https://www.crcv.ucf.edu/people/ms_students.php" style="color:white">M.S. Students</a></li>

            <li><a href="https://www.crcv.ucf.edu/people/bs_students.php" style="color:white">B.S. Students</a></li>

	        <li><a href="https://www.crcv.ucf.edu/people/hs_students.php" style="color:white">H.S. Students</a></li>

  			<li><a href="https://www.crcv.ucf.edu/people/visitors.php" style="color:white">Visitors</a></li>

          <li class="has-dropdown">

            <a href="https://www.crcv.ucf.edu/projects/real-world/#" class="" style="color:white">Alumni</a>

            <ul class="dropdown"><li class="title back js-generated"><h5><a href="https://www.crcv.ucf.edu/projects/real-world/#">Alumni</a></h5></li>

	            <li><a href="https://www.crcv.ucf.edu/people/postdocs_alumni.php" style="color:white">Postdoc Researchers</a></li>

	            <li><a href="https://www.crcv.ucf.edu/people/phd_students_alumni.php" style="color:white">Ph.D. Students</a></li>

	            <li><a href="https://www.crcv.ucf.edu/people/ms_students_alumni.php" style="color:white">M.S. Students</a></li>

	            <!--<li><a href="/people/bs_students_alumni.php" style="color:white">B.S. Students</a></li>-->

	            <li><a href="https://www.crcv.ucf.edu/people/hs_students_alumni.php" style="color:white">H.S. Students</a></li>
	
	            <li><a href="https://www.crcv.ucf.edu/people/visitors_alumni.php" style="color:white">Visitors</a></li>       
                    
			</ul>

		</li>
            
        </ul>

      </li>



      <li class="divider"></li>

      <li><a class="navigation" href="https://www.crcv.ucf.edu/join" style="color:white">JOIN</a></li>



      <li class="divider"></li>

      <li><a class="navigation" href="https://www.crcv.ucf.edu/contact" style="color:white">CONTACT US</a></li>

  

    </ul>

  </section></nav>

  <div class="row hide-for-small">

    <div class="header twelve columns">
  
      <a href="http://www.hcmut.edu.vn/vi"><img src="/static/images/topbar_logo.png" alt="Center for Research in Comptuer Vision" vspace="15px" style="margin-bottom: 10px"></a><br>
  
    </div>
  
  </div>
  
  
  
  <div class="row show-for-small">
  
    <div class="header twelve columns">
  
      <a href="http://www.hcmut.edu.vn/vi"><img src="/static/images/topbar_logo.png" alt="Center for Research in Comptuer Vision" vspace="15px"></a><br>
  
      </div>
  
  </div>

  
<div class="row hide-for-small">

  <div class="nav-bar twelve columns">
    
<!--    <a class="navigation" href="/index.php">HOME</a> -->

    <a class="navigation" href="{% url 'home' %}" class="list-group-item{% if request.path == 'home' %} active{% endif %}">HOME</a>

    <a class="navigation" href="{% url 'catalog:videos' %}" class="list-group-item{% if request.path == '/catalog/videos/' %} active{% endif %}">VIDEOS DEMO</a>

    <a class="navigation" href="{% url 'catalog:video-upload' %}" class="list-group-item{% if request.path == '/catalog/video-upload' %} active{% endif %}">UPLOAD VIDEOS</a>

    <a class="navigation" href="#">DATASET</a>    

    <a class="navigation" href="#">RESULT</a>

    <a class="navigation" href="#">ABOUT</a>

    <a class="navigation" href="#">CONTACT</a>
        
  </div>

</div>

<hr>