{% extends "base_generic.html" %}

{% load static %}

{% block title %}About{% endblock %}

{% block videos_content %}
<div class="container" style="max-width: 1000px;text-align: justify;">
    <p>Nhóm thực hiện đề tài <b>HỆ THỐNG PHÁT HIỆN TAI NẠN GIAO THÔNG TỪ VIDEO GIÁM SÁT</b> thực hiện dưới sự hướng dẫn
        của các thầy TS. Nguyễn Hồ Mẫn Rạng, TS. Lê Thành Sách và TS. Trần Tuấn Anh tại trường Đại học Bách Khoa Tp.HCM.
    </p>

    <h3 class="text-center">Giáo viên hướng dẫn</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
            <div class="box16">
                <img src="{% static 'images/avatar_Rang.jpg' %}">
                <div class="box-content">
                    <h3 class="title">Nguyễn Hồ Mẫn Rạng</h3>
                    <span class="post">Tiến sĩ</span>
                    <ul class="social">
                        <li><a href="mailto:nguyenhomanrang@hcmut.edu.vn"><i class="glyphicon glyphicon-envelope"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box16">
                <img src="{% static 'images/avatar_sach.jpg' %}">
                <div class="box-content">
                    <h3 class="title">Lê Thành Sách</h3>
                    <span class="post">Tiến sĩ</span>
                    <ul class="social">
                        <li><a href="mailto:ltsach@hcmut.edu.vn"><i class="glyphicon glyphicon-envelope"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box16">
                <img src="{% static 'images/avatar_tuanAnh.jpg' %}">
                <div class="box-content">
                    <h3 class="title">Trần Tuấn Anh</h3>
                    <span class="post">Tiến sĩ</span>
                    <ul class="social">
                        <li><a href="mailto:trtanh@hcmut.edu.vn"><i class="glyphicon glyphicon-envelope"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h3 class="text-center">Thành viên nhóm</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
            <div class="box16">
                <img src="{% static 'images/avatar_bien.jpg' %}">
                <div class="box-content">
                    <h3 class="title">Đỗ Long Biên</h3>
                    <span class="post">Sinh viên</span>
                    <ul class="social">
                        <li><a href="mailto:1510216@hcmut.edu.vn"><i class="glyphicon glyphicon-envelope"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box16">
                <img src="{% static 'images/avatar_hoai.png' %}">
                <div class="box-content">
                    <h3 class="title">Đỗ Đức Hoài</h3>
                    <span class="post">Sinh viên</span>
                    <ul class="social">
                        <li><a href="mailto:1511093@hcmut.edu.vn"><i class="glyphicon glyphicon-envelope"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box16">
                <img src="{% static 'images/avatar_dat.jpg' %}">
                <div class="box-content">
                    <h3 class="title">Nguyễn Thành Đạt</h3>
                    <span class="post">Sinh viên</span>
                    <ul class="social">
                        <li><a href="mailto:1510700@hcmut.edu.vn"><i class="glyphicon glyphicon-envelope"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}

{% endblock %}