{% extends "base_generic.html" %}

{% load static %}

{% block title %}Contact{% endblock %}

{% block videos_content %}
<div class="container" style="max-width: 1000px">


    <div id="map" style="height: 400px;width: 100%;"></div>

    <div class="jumbotron jumbotron-sm" style="margin-top: 30px">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h3 class="h3">
                    Liên hệ <small>Liên hệ với chúng tôi để biết thêm thông tin chi tiết</small></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Họ & tên</label>
                                <input type="text" class="form-control" id="name" placeholder="Nhập tên"
                                    required="required" />
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Địa chỉ email</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="Nhập email"
                                        required="required" /></div>
                            </div>
                            <div class="form-group">
                                <label for="subject">
                                    Chủ đề</label>
                                <select id="subject" name="subject" class="form-control" required="required">
                                    <option value="na" selected="">Lựa chọn:</option>
                                    <option value="service">General Customer Service</option>
                                    <option value="suggestions">Suggestions</option>
                                    <option value="product">Product Support</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Nội dung</label>
                                <textarea name="message" id="message" class="form-control" rows="9" cols="25"
                                    required="required" placeholder="Nội dung"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                Gửi tin nhắn</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <legend><span class="glyphicon glyphicon-globe"></span> Thông tin</legend>
                <address>
                    <strong>Trường Đại học Bách Khoa Tp.HCM</strong><br>
                    101 Nhà A1, 268 Lý Thường Kiệt, P. 14, Q.10<br>
                    Tp. Hồ Chí Minh<br>
                    <abbr title="Phone">
                        Số điện thoại:</abbr>
                    (02) 838 654 087
                </address>
                <address>
                    <strong>Đỗ Đức Hoài</strong><br>
                    <a href="mailto:#">1511093@hcmut.edu.vn</a>
                </address>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var uluru = { lat: 10.772618, lng: 106.65552 };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 15.44, center: uluru });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({ position: uluru, map: map });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7OLsq_XZK1wfUpA3Aeu6sDX3SyzZCxOQ&callback=initMap">
    </script>
{% endblock %}