{% extends "base_generic.html" %}

{% load static %}

{% block videos_content %}

<div class='progress-wrapper'>
    <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
  </div>
<div id="progress-bar-message">Waiting for progress to start...</div>

{% endblock %}

{% block javascript %}
  <!-- <script src="{% static 'js/upload.js' %}"></script> -->
  <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
  <script>
    // JQuery
    var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
    $(function () {
      CeleryProgressBar.initProgressBar(progressUrl)
    });
  </script>
  {% endblock %}