{% extends "base_generic.html" %}

{% block content %}


<h1>Video Uploader</h1>
<form enctype="multipart/form-data" method="POST" action="">
{% csrf_token %}
{{ form.as_p }}
<input type="file" name="myfile">
<input type="submit" value="Upload"/>
</form>

{% if uploaded_file_url %}
<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>

<video width='400' controls>
    <source src='{{ uploaded_file_url }}' type='video/mp4'>
    Your browser does not support the video tag.
</video>
{% endif %}



{% endblock %}