{% extends "base_generic.html" %}

{% block title %}Videos List{% endblock %}

  <!--This block overrides parent templates, that is base_generic.html-->
{% block videos_content %}

    {% if video_gifs %}

      {% for video in video_gifs %}
      <li class="list">
    		{% load static %} 
    		<img src="/media/gifs/abnormal/{{ video.title }}.gif" alt= {{video.title}} style="margin-top:50px; margin-bottom:10px">
    		<br>
        <a href="{{ video.url }}" style="padding-left:80px">{{ video.title }}</a>
      </li>
      {% endfor %}

    {% else %}
      <p>There are no videos in the server.</p>
    {% endif %}
{% endblock %}

