{% extends "base_generic.html" %}


{% load static %}

{% block title %}Upload Video{% endblock %}

{% block videos_content %}
<div class="container">
  <div class="well text-muted text-center" style="padding-top: 1rem; padding-bottom: 1rem;">
    <span class="glyphicon glyphicon-arrow-down" style="font-size: 2rem;"></span>
    <h4>Thả Video Vào Đây Để Tải Lên</h4>
  </div>
  <div style="margin-bottom: 20px;">
    <button type="button" class="btn btn-primary js-upload-videos">
      <span class="glyphicon glyphicon-cloud-upload"></span> Tải Lên
    </button>
    <!-- <button type="reset" class="btn btn-warning cancel">
      <span class="glyphicon glyphicon-ban-circle"></span>Cancel Upload
    </button> -->
    <button type="submit" class="btn btn-danger js-delete-all-video">
      <span class="glyphicon glyphicon-trash"></span> Xóa Tất Cả
    </button>
    <button type="submit" class="btn btn-default btn-outline-secondary js-url-modal pull-right">
      <span class="glyphicon glyphicon-link"></span> URLs Link
    </button>
    <!-- <button type="button" class="btn btn-primary js-extract-feature">
      <span class="glyphicon glyphicon-cloud-upload"></span> Extract Feature
    </button>   -->
    <input id="fileupload" type="file" name="file" multiple accept="video/*,image/gif" style="display: none;"
      data-url="{% url 'catalog:video-upload' %}" data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
  </div>

  <table id="gallery" class="table table-striped">
    <thead>
      <tr>
        <th>Videos</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      {% csrf_token %}
      {% for video in videos %}
      <tr>
        <td>
          <a class='btn disabled' href="/catalog/c3d-new/{{video.title}}" style="padding: 0">{{ video.title }}</a>
        </td>
        <td>
          <span>{{ video.filesize }}</span>
        </td>
        <td style="max-width: 147px">
          <!-- <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
            <div class="progress-bar progress-bar-success" style="width:0%;">
            </div>
          </div> -->
          <div class='progress-wrapper' style="width: 90px;">
            <div class='progress-bar progress-bar-js progress-bar-striped' role="progressbar" data-task-url="{% url 'celery_progress:task_status' video.task_id %}" data-task-id='{{video.task_id}}' aria-valuemin="0" aria-valuemax="100" style="background-color: #68a9ef;">&nbsp;</div>
          </div>
        </td>
        <td>
          <button type="submit" class="btn btn-danger js-delete-videos pull-right" data-type='DELETE' data-url="{{video.file}}" data-id='{{video.id}}'>
            <span class="glyphicon glyphicon-trash"></span> Xóa
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Đang Tải...</h4>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="model-urls" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <!-- <span class="glyphicon glyphicon-link"></span> -->
            <img src="{% static 'images/yt_logo_rgb_light.png'%}" style="height: 17px; margin-left: 10px;">
            <h4 style="text-align: center">Upload with URLs</h4>
          </h5>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <input type="url" class="form-control form-check-input left-inner-addon input-url" placeholder="url media or youtube..." aria-describedby="basic-addon1" required>
              <div class="help-block with-errors" style="display: none;color: red;">URL không hợp lệ!</div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control form-check-input left-inner-addon input-filename" placeholder="filename..." aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="modal-footer">
          <i class="fa fa-spinner fa-spin processing" style="display: none"></i>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary js-url-upload">
            <span class="glyphicon glyphicon-cloud-upload"></span> Tải
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block javascript %}
{# JQUERY FILE UPLOAD SCRIPTS #}
<script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

<script src="{% static 'js/celery_progress.js' %}"></script>

{# VIDEO PAGE SCRIPTS #}
<script src="{% static 'js/upload.js' %}"></script>
{% endblock %}