{% extends 'base.html' %}
  
{% block content %}
<!-- 
  <h2 class="page-header">
    <small> {% block title %}{% endblock %}</small>
  </h2> -->
<!-- 
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Examples</h3>
        </div>
        <div class="list-group">
          <a href="#" class="list-group-item">
            Live Camera
          </a>
          <a href="{% url 'catalog:videos' %}" class="list-group-item{% if request.path == '/catalog/videos/' %} active{% endif %}">
            Detect With Videos
          </a>
          <a href="{% url 'catalog:video-upload' %}" class="list-group-item{% if request.path == '/catalog/video-upload' %} active{% endif %}">
            Upload Videos
          </a>
          <a href="{% url 'catalog:settings' %}" class="list-group-item{% if request.path == '/catalog/settings' %} active{% endif %}">
            Settings
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-9">

    </div>
  </div> 
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'catalog:index' %}">Traffic Abnormal Detect</a>
      </div>
      <div class="collapse navbar-collapse" id="main-menu">
        <ul class="nav navbar-nav">
          <li{% if '/videos/' in request.path %} class="active"{% endif %}>
          <a href="{% url 'catalog:videos' %}">Videos</a>
          </li>
          <li><a href="www.hcmut.edu.vn">hcmut.edu.vn</a></li>
        </ul>
      </div>
    </div>
  </nav>-->


  <div class="row hide-for-small">
    <div class="nav-bar twelve columns">
      <a class="navigation" href="{% url 'catalog:index' %}" class="list-group-item{% if request.path == '/catalog/' %} active{% endif %}">HOME</a>
      <a class="navigation" href="{% url 'catalog:videos' %}" class="list-group-item{% if request.path == '/catalog/videos/' %} active{% endif %}">VIDEOS DEMO</a>  
      <a class="navigation" href="{% url 'catalog:video-upload' %}" class="list-group-item{% if request.path == '/catalog/video-upload' %} active{% endif %}">UPLOAD VIDEOS</a>  
      <a class="navigation" href="#">DATASET</a>    
      <a class="navigation" href="#">RESULT</a>  
      <a class="navigation" href="#">ABOUT</a>
      <a class="navigation" href="#">CONTACT</a>
    </div>
  </div>
  
  <hr>
  
  {% block videos_content %}
  {% endblock %} 
{% endblock %}