{% extends 'base.html' %}
  
{% block content %}

  <h2 class="page-header">
    <small> {% block title %}{% endblock %}</small>
  </h2>

  <!-- <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Examples</h3>
        </div>
        <div class="list-group">
          <a href="#" class="list-group-item">
            Live Camera
          </a>
          <a href="{% url 'catalog:videos' %}" class="list-group-item{% if request.path == '/catalog/videos/' %} active{% endif %}">
            Detect With Videos
          </a>
          <a href="{% url 'catalog:video-upload' %}" class="list-group-item{% if request.path == '/catalog/video-upload' %} active{% endif %}">
            Upload Videos
          </a>
          <a href="{% url 'catalog:settings' %}" class="list-group-item{% if request.path == '/catalog/settings' %} active{% endif %}">
            Settings
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-9">

    </div>
  </div> -->

<!--   
<div class="row hide-for-small">

  <div class="nav-bar twelve columns">

    <a class="navigation" href="{% url 'home' %}">HOME</a>

    <a class="navigation" href="{% url 'catalog:videos' %}"><font color="red">VIDEOS DEMO</font></a>

    <a class="navigation" href="#">UPLOAD VIDEOS</a>

    <a class="navigation" href="#">DATASET</a>    

    <a class="navigation" href="#">RESULT</a>

    <a class="navigation" href="#">ABOUT</a>

    <a class="navigation" href="#">CONTACT</a>
        
  </div>

</div> 
-->
  {% block videos_content %}
  {% endblock %} 
{% endblock %}