{% extends "base_generic.html" %}

{% load static %}
{% block videos_content %}
<div class="container" style="max-width: 1000px">
    <h1 style="text-align: center;">HỆ THỐNG PHÁT HIỆN TAI NẠN GIAO THÔNG TỪ VIDEO GIÁM SÁT</h1>

    <div class="tab-content">
        <h3>Giới thiệu</h3>
        <p>
            Tai nạn giao thông đường bộ là một trong những nguyên nhân gây tử vong hàng đầu cho con người, trung bình
            mỗi năm trên thế giới có trên dưới 10 triệu người tử vong vìtai nạn giao thông đường bộ và hàng chục triệu
            người khác bị thương tích. Cùng với đó là những thiệt hại khổng lồ về kinh tế, bao gồm: chi phí mai táng
            người chết, chi phíy tế cho người bị thương, thiệt hại về phương tiện giao thông, về hạ tầng, chi phí khắc
            phục, điều tra vụ tai nạn giao thông đó cùng với thiệt hại do hao phí thời gian lao động của chính người bị
            tai nạn và cả của những người chăm sóc người đó. Mặt khác, tai nạn giao thông gây nên những tác động tâm lý
            cả trước mắt cũng như về lâu dài đối với mọi người, nó để lại những di chứng về tâm lý hết sức nặng nề cho
            người bị tai nạn, người thân của người đó và nếu như trong một địa phương, một quốc gia xảy ra tai nạn giao
            thông quá nhiều sẽ gây nên hiện tượng bất an cho cư dân ở đó.
        </p>
        <p>Do đó mục tiêu của đề tài nhằm khảo sát, tìm hiểu, áp dụng và xem xét hiệu quả của các kỹ thuật học máy và học
            sâu trong việc phát hiện các hành vi bất thường xảy ra trong chuỗi video quan sát. Mục tiêu hướng đến ứng
            dụng giám sát an ninh tại những địa điểm mà việc giám sát là cần thiết, tập trung vào thiết kế và xây dựng
            một ứng dụng giám sát, phát hiện và cảnh báo khi có tai nạn giao thông xảy ra trên các tuyến đường phố ở
            Việt Nam nói riêng và các quốc gia trên thế giới nói chung. Đặc biệt ở những tuyến đường có ít người qua
            lại, hoặc các tai nạn xảy ra lúc đêm khuya.</p>

        <h3>Mô hình</h3>
        <p>Mô hình được sử dụng là mô hình học đa cá thể, chia các video thành một số cố định các phân đoạn trong quá
            trình training. Mỗi phân đoạn gọi là một túi. Bằng việc sử dụng cả phân đoan dương (có tai nạn giao thông)
            với phân đoạn âm (bình thường), ta có thể train model với hàm MIL Ranking Loss.</p>
        <img src="{% static 'images/BlockDiagram.png' %}" style="max-height: 330px;margin: 0 auto; margin: 0 auto;display: block;"></img>
    </div>
</div>
{% endblock %}