{% extends "base_generic.html" %}

{% load static %}
{% block videos_content %}
<div class="container" style="max-width: 1000px">
    <h1 style="text-align: center;">HỆ THỐNG PHÁT HIỆN TAI NẠN GIAO THÔNG TỪ VIDEO GIÁM SÁT</h1>

    <div class="tab-content">
        <h3>Giới thiệu</h3>
        <p>
            Tai nạn giao thông đường bộ là một trong những nguyên nhân gây tử vong hàng đầu cho con người, trung bình
            mỗi năm trên thế giới có trên dưới 10 triệu người tử vong vìtai nạn giao thông đường bộ và hàng chục triệu
            người khác bị thương tích. Cùng với đó là những thiệt hại khổng lồ về kinh tế, bao gồm: chi phí mai táng
            người chết, chi phíy tế cho người bị thương, thiệt hại về phương tiện giao thông, về hạ tầng, chi phí khắc
            phục, điều tra vụ tai nạn giao thông đó cùng với thiệt hại do hao phí thời gian lao động của chính người bị
            tai nạn và cả của những người chăm sóc người đó. Mặt khác, tai nạn giao thông gây nên những tác động tâm lý
            cả trước mắt cũng như về lâu dài đối với mọi người, nó để lại những di chứng về tâm lý hết sức nặng nề cho
            người bị tai nạn, người thân của người đó và nếu như trong một địa phương, một quốc gia xảy ra tai nạn giao
            thông quá nhiều sẽ gây nên hiện tượng bất an cho cư dân ở đó.
        </p>
        <p>Do đó mục tiêu của đề tài nhằm khảo sát, tìm hiểu, áp dụng và xem xét hiệu quả của các kỹ thuật học máy và học
            sâu trong việc phát hiện các hành vi bất thường xảy ra trong chuỗi video quan sát. Mục tiêu hướng đến ứng
            dụng giám sát an ninh tại những địa điểm mà việc giám sát là cần thiết, tập trung vào thiết kế và xây dựng
            một ứng dụng giám sát, phát hiện và cảnh báo khi có tai nạn giao thông xảy ra trên các tuyến đường phố ở
            Việt Nam nói riêng và các quốc gia trên thế giới nói chung. Đặc biệt ở những tuyến đường có ít người qua
            lại, hoặc các tai nạn xảy ra lúc đêm khuya.</p>

        <h3>Mô hình</h3>
        <p>Mô hình được sử dụng là mô hình học đa cá thể, chia các video thành một số cố định các phân đoạn trong quá
            trình training. Mỗi phân đoạn gọi là một túi. Bằng việc sử dụng cả phân đoan dương (có tai nạn giao thông)
            với phân đoạn âm (bình thường), ta có thể train model với hàm MIL Ranking Loss.</p>
        <img src="{% static 'images/BlockDiagram.png' %}" style="max-height: 330px;margin: 0 auto; margin: 0 auto;display: block;"></img>
        <h3>Dataset</h3>
        <p>Nhóm tự xây dựng tập dữ liệu "tai nạn giao thông" sử dụng hai công cụ tìm kiếm youtube và liveleak.</p>
        <p>Quá trình thu thập dữ liệu gồm 346 video bao gồm video tai nạn giao thông và video bình thường. Kết hợp với
            tập dữ liệu UFC-Crime có sẵn, tập dữ liệu giao thông có tổng cộng 796 video với kích thước 31.1 GB. Tập dữ
            liệu huấn luyện và kiểm thử được lấy theo tỉ lệ 87.43% video huấn luyện và 12.57% video kiểm thử. Thống kê
            cụ thể về số lượng video được thể hiện trong dưới đây.</p>
        <img src="{% static 'images/thongke.png' %}" style=" margin: 0 auto;display: block;"></img>
        <p>Phân phối số lượng khung hình trong tập kiểm thử của bộ dữ liệu tai nạn giaothông</p>
        <img src="{% static 'images/thongkeframe.png' %}" style="max-height: 400px; margin: 0 auto;display: block;"></img>

        <p>Hình ảnh một số rút ra từ tập dataset.</p>
        <img src="{% static 'images/Dataset_Normal.png' %}" style="max-height: 400px; margin: 0 auto;display: block;"></img>
        <h3>Kết quả</h3>
        <p>Quá trình huấn luyện trên mô hình 32 phân đoạn kết thúc ở vòng lặp thứ 10000, khi giá trị hàm mục tiêu đã hội
            tụ. Tại ngưỡng điểm số phân loại bất thường (thresold) T= 0.5, các thông số có được như hình bên dưới</p>
        <img src="{% static 'images/Result.png' %}" style="max-height: 200px; margin: 0 auto;display: block;"></img>
        <p>
            Hình ảnh hững trường hợp dự đoán chính xác trên video kiểm thử.
        </p>
        <img src="{% static 'images/Qualitative_Testing_Pass-cropped.png' %}" style="max-height: 400px; margin: 0 auto;display: block;"></img>
    </div>
</div>
{% endblock %}